<ul>
  <li *ngFor="let javaVersion of javaVersions">
    <h3>{{ javaVersion.version }}</h3>
    <ul>
      <li *ngFor="let feature of javaVersion.features">
        <h4>{{ feature.name }}</h4>
        <p>{{ feature.description }}</p>
        <p>Before</p>
        <mat-card appearance="outlined">
          <mat-card-content>
              <pre [innerHTML]="toHtml(feature.before)"></pre>
          </mat-card-content>
        </mat-card>
        <p>After</p>
        <mat-card appearance="outlined">
          <mat-card-content>
              <pre [innerHTML]="toHtml(feature.after)"></pre>
          </mat-card-content>
        </mat-card>
      </li>
    </ul>
  </li>
</ul>

??? remove jfx
micro bench

